/* tslint:disable no-var-requires */
const withReadme = require("storybook-readme/with-readme").default;
const {{pascalCase name}}Readme = require("./README.md");

import * as React from "react";
import { storiesOf, action } from "@kadira/storybook";
import {{pascalCase name}} from "./{{pascalCase name}}";

storiesOf("{{pascalCase name}}", module)
  .addDecorator(withReadme({{pascalCase name}}Readme))
  .add("default", () => (
    <{{pascalCase name}} />
  ));
